.StatusBar {
  width: 100%;
}

.favourite {
  width: 24px;
  height: auto;
  float: right;
}

.left-arrow {
  width: 60px;
  height: auto;
  padding-top: 1%;
  float: left;
}

.container {
  margin: 0 auto;
  width: 375px;
}

.line {
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin: 0 auto;
  height: auto;
  line-height: 1.3em;
  background-color: #fff;
  overflow: scroll;
}

.italics {
  font-style: italic;
  padding-bottom: 2%;
}

form {
  padding-bottom: 5%;
}

input[type=text] {
  width: 98%;
  font-family: 'Ruda', sans-serif;
  border: solid;
  border-width: 0.2em;
  border-color: #f2f2f2;
  font-size: 15px;
  line-height: 1.5em;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 15.5px;
  padding-top: 1%;
}

h3 {
  background-color: #f2f2f2;
  font-size: 15.5px;
  color: #000080;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
}

h4 {
  font-weight: bold;
}

body {
  background-color: #fff;
  font-family: 'Ruda', sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
}

ul {
  padding-bottom: 2%;
}
