*, *:before, *:after {
  box-sizing: border-box;
}

.image {
  width: 40px;
  height: auto;
  padding-top: 2%;
}

.image2 {
  width: 60px;
  height: auto;
  padding-top: 1%;
}

.map-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

nav {
  box-sizing: border-box;
  margin: 0%;
  padding-top: 3%;
  width: 100%;
}

h3 {
  background-color: #808000;
  border-bottom: solid 1px #c0c0c0;
  font-size: 22px;
  color: #fff;
  line-height: 1.5em;
  text-align:left;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
}

.line {
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin: 0 auto;
  height: auto;
  line-height: 1.3em;
  background-color: #fff;
  overflow: scroll;
}

.container {
  margin: 0 auto;
  width: 750px;
}

p {
  text-align: center;
  line-height: 25px;
  padding-top: 20px;
  font-size: 25px;
}

h1, h2, h4, h5, h6 {
  background-color: #808000;
  border-bottom: solid 1px #c0c0c0;
  font-size: 22px;
  color: #fff;
  line-height: 1.5em;
  text-align:left;
}
