.StatusBar {
  width: 100%;
}

.favourite {
  width: 24px;
  height: auto;
  float: right;
}

.left-arrow {
  width: 15px;
  height: auto;
  padding-top: 1%;
  float: left;
}

.map-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 375px;
}

.line {
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin: 0 auto;
  height: auto;
  line-height: 1.3em;
  background-color: #fff;
  overflow: scroll;
}

.italics {
  font-style: italic;
}

input[type=text] {
  width: 100%;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 15.5px;
}

h3 {
  background-color: #f2f2f2;
  font-size: 15.5px;
  color: #000080;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
}

h4 {
  font-weight: bold;
}

body {
  background-color: #fff;
  font-family: 'Ruda', sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
}
